<div class="page-header">
<h1>Employee index</h1>
</div>
<form class="searchform cf">
    <input type="text" placeholder="search directory" ng-model="search_input">
    <button type="submit">Search</button>
</form>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Job Title</th>

    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="user in users | filter:search_input | startFrom:currentPage*pageSize | limitTo:pageSize" >

        <td>
            <a ng-href="#/employee/{{user.id}}">{{user.name}}</a>
        </td>
        <td>
            {{user.job_title}}
        </td>

    </tr>

    </tbody>





</table>

<div class="pagination">

    <button class="btn" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"><<</button>
    <button class="btn" ng-disabled="(currentPage+1) == numberOfPages()" ng-click="currentPage=currentPage+1">>></button>
    Page {{currentPage+1}} of {{numberOfPages()}}

</div>

