
<h1>users index</h1>
<a class="btn btn-default" href="#/users/new">New Employee</a>

<div class="form-group">
    Search:<input type="text" ng-model="search.input.$" />
</div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Photo</th>
                    <th>Name</th>
                    <th>Job Title</th>

                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="user in users | filter:search.input">
                    <td>
                        <a ng-href="#/users/{{user.id}}"><img ng-src="{{user.avatar}}" /></a>
                    </td>
                    <td>
                        <a ng-href="#/users/{{user.id}}">{{user.name}}</a>
                    </td>
                    <td>
                        {{user.job_title}}
                    </td>

                </tr>

                </tbody>





        </table>



