<div class="page-header">
<h1>users index</h1>
<div class="new-employee-button">
    <a class="btn btn-primary " href="#/users/new">New Employee</a>
</div>

    <form class="searchform cf">
        <input type="text" placeholder="search directory" ng-model="search_input">
        <button type="submit">Search</button>
    </form>

</div>
            <table class="table table-hover">
                <thead>
                <tr>

                    <th>Name</th>
                    <th>Job Title</th>
                    <th>Location</th>
                    <th>Email</th>
                    <th>Phone Number</th>

                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="user in users | filter:search_input | startFrom:currentPage*pageSize | limitTo:pageSize" >


                <td>
                        <a ng-href="#/users/{{user.id}}">{{user.name}}</a>
                    </td>
                    <td>
                        {{user.job_title}}
                    </td>
                    <td>
                        {{user.location}}
                    </td>
                    <td>
                        {{user.email}}
                    </td>
                    <td>
                        {{user.phone}}
                    </td>

                </tr>

                </tbody>





        </table>

<button class="btn" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"><<</button>
<button class="btn" ng-disabled="(currentPage+1) == numberOfPages()" ng-click="currentPage=currentPage+1">>></button>
Page {{currentPage+1}} of {{numberOfPages()}}



