
    <div class=""row">

    <div class="col-sm-3">
        <img ng-src="{{user.avatar}}" />
        </div>
    <div class="col-sm-9">
    <h1>{{user.name}}</h1><br>
        <p class="text-muted"> {{user.job_title}}</p>
        <p class="text-muted">City: {{user.location}}</>
        <p>Email Address: {{user.email}}</p>
        <p>Telephone Number: {{user.phone}}</p>


</div>
    <a ng-href="#/users/{{user.id}}/edit" class="btn btn-default">Edit</a>
    <a href="" ng-click="deleteUser(user)" class="btn btn-danger">Delete</a>





